<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}heheheh</h1>
      </div>

{{ collection.all_products_count }} total products in this collection



      <div>
        {% if page.content == blank %}
        <img src="{{ 'tshirt.png' | asset_img_url }}" alt="t-shirt image"/>
        {% else %}
        <div class="rte">
          {{ page.content }}
        </div>
        {% endif %}

      </div>

    </div>
  </div>
</div>
